{
  "type": "service_account",
  "project_id": "nimble-bonus-196412",
  "private_key_id": "PRIVATE_KEY_ID_VARIABLE",
  "private_key": "-----BEGIN PRIVATE KEY-----\nPRIVATE_KEY_VARIABLE\n-----END PRIVATE KEY-----\n",
  "client_email": "lanit-bot@nimble-bonus-196412.iam.gserviceaccount.com",
  "client_id": "100550648456161155115",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/lanit-bot%40nimble-bonus-196412.iam.gserviceaccount.com"
}
